.container {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 10px;
}

.header {
  background-image: url("../img/headerBg.png");
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.header-navigation {
  display: grid;
  grid-template-columns: 21% 52% 16%;
  background-color: rgba(255, 255, 255, 0.2);
  align-items: center;
  justify-content: center;
  width: 102%;
  margin-left: -10px;
}

.header-navigation-logo {
  position: relative;
  .logo-img {
    width: 43px;
    height: 41px;
    padding: 30px 0;
  }

  .logo-text {
    color: #9185af;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    position: absolute;
    left: 60px;
    top: 39px;
  }
}

.navbar {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  justify-self: end;

  .navbar-item {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #736a9a;
    cursor: pointer;
    margin-left: 21px;
  }
}

.header-navigation-dropdown-btn {
  display: none;
  cursor: pointer;
  .dropdown-btn-icon {
    color: #9185af;
  }

  .dropdown-btn-icon--active {
    color: white;
  }
}

.header-navigation-vertical-navbar {
  display: none;
  position: absolute;
  top: 123px;
  right: 0;
  left: 0;
  background-color: #333333;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.header-navigation-vertical-navbar--active {
  display: block;
}

.vertical-navbar-item {
  padding: 30px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);

  .vertical-item {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    padding: 10px 0 10px 30px;
    border-left: 7px solid transparent;
  }
}
.vertical-item--active {
  color: #9185af;
  border-left: 7px solid #9185af;
}

.navbar-btn {
  cursor: pointer;
  text-decoration: none;
  background-color: #9185af;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 20px;
  justify-self: end;
  padding: 10px 30px;
  transition: color, background-color 0.3s ease;
}

.header-information {
  text-align: center;
  font-family: "Montserrat", sans-serif;

  .info-title {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin: 60px 0 20px;
    text-transform: capitalize;
  }

  .info-description {
    font-family: "Lato", sans-serif;
    font-size: 22px;
    color: #9185af;
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  .info-version {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 500px;
  }
}

.header-download-btn {
  display: inline-block;
  position: absolute;
  bottom: -65px;
  left: calc(50% - 204px);

  .download-btn {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: bold;
    background-color: #9185af;
    color: white;
    text-transform: capitalize;
    border: 1px solid transparent;
    border-radius: 33px;
    padding: 18px 64px;
    cursor: pointer;
    transition: color, background-color 0.3s ease;
  }
  .download-description {
    font-family: "Montserrat", sans-serif;
    color: #9185af;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
  }
}

.revolutionary-title {
  font-family: "Montserrat", sans-serif;
  color: #635c73;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 130px 0 40px;
}

.revolutionary-slogan {
  font-family: "Lato", sans-serif;
  color: #5b5b5b;
  font-size: 26px;
  text-align: center;
  line-height: 40px;
}

.revolutionary-actions {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13px;
  max-width: 420px;
  margin: 40px auto 70px auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.action-button {
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 3px;
  margin-bottom: 25px;
  cursor: pointer;

  .action-button-icon {
    display: inline-block;
    background-color: #eff3f6;
    border-right: 1px solid rgba(27, 31, 35, 0.2);
    padding: 5px 10px;
  }

  .action-button-number {
    display: inline-block;
    padding: 5px 10px;
  }
}

.watch-actions::before {
  content: "\f06e";
  font-family: "FontAwesome";
  font-weight: 400;
  font-size: 14px;
  margin-right: 3px;
}

.star-actions::before {
  content: "\f005";
  font-family: "FontAwesome";
  font-weight: 400;
  font-size: 14px;
  margin-right: 3px;
}

.fork-actions::before {
  content: "\f126";
  font-family: "FontAwesome";
  font-weight: 400;
  font-size: 14px;
  margin-right: 3px;
}

.whatYouGet {
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "articles title"
    "articles img"
    "articles img"
    "articles img";
}
.whatYouGet-articles {
  grid-area: articles;
  margin-left: 55px;
  margin-top: 85px;
  .article {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 35px;
  }
}

.article-info-container {
  .article-title {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: rgba(50, 50, 50, 255);
  }

  .article-text {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: rgba(132, 142, 151, 255);
    line-height: 20px;
    margin-right: 70px;
  }
}

.whatYouGet-title {
  grid-area: title;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 85px;
  color: #8d81ac;
}

.whatYouGet-img {
  grid-area: img;
  width: 101%;
  height: 88%;
  margin-top: 25px;
  background-image: url("../img/codebg.png");
  background-size: cover;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.aboutFork {
  background-image: url("../img/PricingBackground.png");
  background-size: cover;
  background-position: 50% 50%;
  position: relative;

  .aboutFork-title {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    text-transform: capitalize;
    padding: 100px 0 90px;
  }
}

.aboutFork-comments {
  display: grid;
  grid-template-columns: 26% 26% 26%;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 6%;
  grid-row-gap: 100px;
  justify-content: center;
}

.comment {
  display: grid;
  grid-template-rows: 1fr 1fr;
  .comment-logo {
    display: block;
    margin: 0 auto;
    align-self: center;
  }
  .comment-text {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    color: white;
    line-height: 25px;
    text-align: center;
  }
}

.aboutFork-footer {
  font-family: "Lato";
  font-size: 13px;
  margin: 100px 205px 0;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  padding-bottom: 25px;
  .footer-text {
    line-height: 20px;
  }
}

.aboutFork-footer::after {
  content: "";
  padding: 0 370px;
  position: absolute;
  right: calc((100% - 740px) / 2);
  bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.pricing {
  background-image: url("../img/pricingBg.png");
  background-size: cover;
  .pricing-title {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 60px;
    margin-bottom: 95px;
  }
}

.pricing-container {
  display: grid;
  grid-template-columns: 20% 20% 24% 20%;
  grid-gap: 1%;
  justify-content: center;
  padding-bottom: 100px;
}

.pricing-item {
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-align: center;

  .pricing-item-title {
    font-size: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    text-transform: uppercase;
    padding: 45px 0 35px;
  }
  .pricing-item-price {
    font-weight: bold;
    font-size: 60px;
    color: white;
    margin: 35px 0 25px;
  }
  .pricing-item-period {
    text-transform: uppercase;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 65px;
  }
  .pricing-item-period::after {
    content: " ";
    padding: 0 30px;
    border: 2px solid #9186af;
    position: absolute;
    right: calc((100% - 64px) / 2);
    top: 270px;
  }
  .pricing-item-conditions {
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 30px;
    margin: 0 10px 85px;
  }
  .pricing-item-btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    cursor: pointer;

    position: absolute;
    bottom: 30px;
    left: calc(50% - 72px);
    transition: background-color, color 0.5s ease;
    padding: 12px 30px;
  }
}

#agency.pricing-item {
  transform: scale(1.2);
  margin: 0 calc(10% - 4px);
  background-color: rgba(0, 0, 0, 0.2);
}

#agency .pricing-item-title {
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 480px) {
  .header-navigation {
    grid-template-areas: "logo btn nav-bar";
    grid-template-columns: 15% 60% 15%;
    width: 105.8%;
    margin-left: -9px;
    padding: 10px 0;
  }
  .header-navigation-logo {
    grid-area: logo;
    justify-self: center;
  }
  .logo-text {
    display: none;
  }
  .logo-img--active {
    content: url("../img/navbar-logo-hover.png");
  }
  .navbar {
    display: none;
  }
  .navbar-btn {
    grid-area: btn;
    justify-self: center;
  }
  .navbar-btn--active {
    color: #9185af;
    background-color: white;
  }
  .header-navigation-dropdown-btn {
    display: block;
    justify-self: center;
  }
  .info-title {
    font-size: 55px;
  }
  .info-description {
    line-height: 40px;
  }

  .header-download-btn {
    bottom: -56px;
    left: calc(50% - 160px);
  }
  .download-btn {
    color: white;
    font-size: 15px !important;
    border-radius: 33px;
    padding: 15px 40px;
  }
  .download-btn--active {
    color: #9185af;
    background-color: white;
    border: 1px solid #9185af;
  }

  .revolutionary-title {
    font-size: 24px;
    margin: 75px 0 10px;
    line-height: 40px;
  }
  .revolutionary-slogan {
    font-size: 16px;
    line-height: 25px;
  }
  .revolutionary-actions {
    max-width: 300px;
  }

  .whatYouGet {
    grid-template-areas:
      "title"
      "articles"
      "img";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 3fr;
  }
  .whatYouGet-articles {
    margin-left: 0px;
    margin-top: 30px;
  }
  .article {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .article-title {
    margin: 20px 0 10px;
  }
  .article_text {
    margin: 0;
  }
  .whatYouGet-title {
    font-size: 35px;
    margin-top: 45px;
    text-align: center;
  }
  .whatYouGet-img {
    width: 100%;
    height: 90%;
    margin-left: 0px;
    margin-top: 0px;
  }

  .aboutFork-title {
    font-size: 40px;
    padding: 75px 0 25px;
    line-height: 57px;
  }
  .aboutFork-comments {
    display: grid;
    grid-template-columns: 95%;
    grid-column-gap: 0;
    grid-row-gap: 35px;
    justify-content: center;
  }
  .aboutFork-footer {
    font-size: 10px;
    margin: 25px 10px 0;
    padding-bottom: 25px;
  }
  .aboutFork-footer::after {
    padding: 0 150px;
    right: calc((100% - 300px) / 2);
  }
  .footer-text {
    display: none;
  }

  .pricing-title {
    font-size: 30px;
    margin-bottom: 50px;
    line-height: 55px;
  }
  .pricing-container {
    grid-template-columns: 75%;
    padding-bottom: 110px;
  }
  .pricing-item {
    margin-bottom: 0px;
  }
  #agency.pricing-item {
    margin: 43px calc(1% - 1px);
  }
  .pricing-item-btn--active {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.65);
    font-weight: bold;
  }
}

@media screen and (max-width: 992px) and (min-width: 481px) {
  .header-navigation {
    grid-template-areas:
      "logo logo logo btn btn btn"
      "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar";
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-template-rows: 60% 40%;
    width: 104%;
    margin-left: -9px;
    padding: 10px 0;
  }

  .header-navigation-logo {
    grid-area: logo;
  }
  .logo-img--active {
    content: url("../img/navbar-logo-hover.png");
  }

  .logo-text--active {
    color: white;
  }
  .navbar-btn {
    grid-area: btn;
  }

  .navbar {
    grid-area: nav-bar;
    justify-self: center;

    .navbar-item {
      margin: 0 5px;
    }
  }
  .navbar-btn--active {
    color: #9185af;
    background-color: white;
  }

  .navbar-item--active {
    color: white;
  }
  .download-btn--active {
    color: #9185af;
    background-color: white;
    border: 1px solid #9185af;
  }
  .revolutionary-title {
    font-size: 30px;
    margin: 105px 0 30px;
  }

  .revolutionary-slogan {
    font-size: 23px;
    line-height: 35px;
  }

  .whatYouGet {
    grid-template-areas:
      "title"
      "articles"
      "img";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 4fr;
  }

  .whatYouGet-articles {
    margin-left: 30px;
    margin-top: 25px;
  }

  .article {
    grid-template-columns: minmax(140px, 1fr) 4fr;
  }
  .article img {
    margin-left: 20px;
  }
  .article-text {
    margin-right: 20px;
  }

  .whatYouGet-title {
    font-size: 38px;
    margin-top: 60px;
    text-align: center;
  }

  .whatYouGet-img {
    height: 90%;
    margin-left: 40px;
    margin-top: 0px;
    width: 97%;
  }

  .aboutFork-title {
    font-size: 40px;
    padding: 75px 0 25px;
    line-height: 60px;
  }

  .aboutFork-comments {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 30px;
    justify-content: center;
  }

  .aboutFork-footer {
    font-size: 10px;
    margin: 25px 10px 0;
    padding-bottom: 25px;
    .footer-text {
      line-height: 16px;
    }
  }

  .aboutFork-footer::after {
    padding: 0 200px;
    right: calc((100% - 400px) / 2);
  }

  .pricing-title {
    font-size: 43px;
    margin-bottom: 50px;
    line-height: 60px;
  }
  .pricing-container {
    grid-template-columns: 35% 35%;
    grid-template-rows: 50% 50%;
    grid-gap: 6%;
    padding-bottom: 140px;
  }

  .pricing-item {
    margin-bottom: 20px;

    .pricing-item-title {
      font-size: 19px;
    }

    .pricing-item-price {
      font-size: 58px;
    }

    .pricing-item-period {
      font-size: 14px;
    }

    .pricing-item-conditions {
      font-size: 15px;
    }

    .pricing-item-btn {
      font-size: 14px;
    }
  }

  #agency.pricing-item {
    width: 100%;
    margin: 0 calc(1% - 1px);
  }

  .pricing-item-btn--active {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.65);
    font-weight: bold;
  }
}

@media screen and (min-width: 1201px) {
  .container {
    margin: 0 auto;
  }

  .header-navigation-logo:hover .logo-img {
    content: url("../img/navbar-logo-hover.png");
  }

  .header-navigation-logo:hover .logo-text {
    color: white;
  }

  .navbar-item:hover {
    color: white;
  }

  .navbar-btn:hover {
    color: #9185af;
    background-color: white;
  }

  .download-btn:hover {
    color: #9185af;
    background-color: white;
    border: 1px solid #9185af;
  }

  .pricing-item-btn:hover {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.65);
  }
}
